*,
::after,
::before {
  margin: 0;
  padding: 0;
  transition: all 0.6s;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1 {
  margin: 40px 0px;
}
.wrapper {
  transition: all 0.7s;
}
body {
  margin: 0;
  background-color: aquamarine;
  min-height: 100vh;

  display: flex;

  align-items: center;
  flex-direction: column;
}
.ocardion {
  padding: 10px;
  width: 800px;
}

.lable {
  background-color: rgb(93, 0, 187);
  padding: 5px 20px;
  font-size: 32px;
  position: relative;
  color: white;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.6s;
}
.lable::after {
  position: absolute;
  content: "+";

  right: 20px;
}

.wrapper .content {
  display: none;
  background-color: rgb(251, 251, 251);
  height: 0;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgb(13, 13, 13);
  overflow: hidden;
  overflow-y: auto;
}

.wrapper.active .lable::after {
  content: "-";
}
.wrapper.active .content {
  transition: all 2s;
  display: flex;
  padding: 10px;
  min-height: 150px;
}
